/* Navbar.css */
.navBarUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.navBarli {
    float: left;
}

.navBarli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    border-right: 1px solid #555;
    transition: background-color 0.2s;
}

.navBarli:last-child a {
    border-right: none;  /* Remove right border for the last item */
}

.navBarli a:hover {
    background-color: #555;
    color: white;
}

.navBarli a.active {
    background-color: #ee8403;
}
